@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-family: 'Montserrat', sans-serif;
}

.form-input {
	outline: none;
	margin: 0;
	border: none;
	width: 100%;
	line-height: 50px;
	background: #fafafa;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 16px;
	color: #666;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn {
	border-radius: 5px;
	display: inline-block;
	line-height: 50px;
	padding: 0 50px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

.btn.primary {
	background: #007bff;
}

.btn.primary:hover {
	color: #212529;
	text-decoration: none;
}

a {
	color: #007bff;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gradient-background {
	position: absolute;
	z-index: -2;
	width: 200%;
	top: -95%;
	rotate: -12deg;
	height: 160%;
	max-width: 3000px;
	border-radius: 100px;
	/* border: 2px solid red; */
}

#gradient-canvas {
	--gradient-color-1: #ef008f;
	--gradient-color-2: #6ec3f4;
	--gradient-color-3: #7038ff;
	--gradient-color-4: #ffba27;
	/* z-index:0; */
}

.StripeElement {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.shadow-div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	width: 200px;
	height: 200px;
	margin: 50px auto;
}

.clear-div {
	position: absolute;
	top: -25px;
	left: -25px;
	right: -25px;
	bottom: -25px;
	background-color: white;
}
.earth {
	z-index: 1;
}
/* ------------------------------------- */
.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.rows {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-top: 50px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 1.75rem 5.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

/*  bhoechie tab */
div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-left: 50px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a {
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
	color: #5a55a3;
}
div.bhoechie-tab-menu div.list-group > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > span.active,
div.bhoechie-tab-menu div.list-group > span.active .glyphicon,
div.bhoechie-tab-menu div.list-group > span.active .fa {
	background-color: #5a55a3;
	background-image: #5a55a3;
	color: #ffffff;
}

div.bhoechie-tab-menu div.list-group > span.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #5a55a3;
}

div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 20px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}
.watchvideo {
	margin-top: 2rem;
}
.alert-primary {
	color: white;
	background-color: red;
	border-color: #b6d4fe;
	position: relative;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	font-size: larger;
}

.notActive {
	visibility: hidden;
}
.success {
	padding: 9.25rem;
}
.Custom-Toastify__toast-container {
	width: 50% !important;
}
/* Responsive  */
@media screen and (max-width:688px) {
	.success{
		padding: 0px;
	}
	.alert-primary{
		background-color: unset;
		color: red;
	}
	
	}

	@keyframes animate{
		0%, 100%{
			transform: translateY(rem);
		}
		50%{
			transform: translateY(3rem);
		}
	}

	.right-side{
		position: relative;
		animation:animate 3s linear infinite;
		margin-top: 2rem;
		margin-left: -18px;
	}
.right-side img{
    width: 25rem;
}
.offerText {
    position: absolute;
    top: 8%;
    left: 11%;
    font-size: 2rem;
}
.offerMin{
	font-size: 1.4rem;
    text-align: center;
    margin-top: 3rem;
    margin-left: -1rem;
}
.btcPayment{
	font-size: 0.7rem;
    margin-top: 1.5rem;
}

.move-top-btn{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #226be0;
	border-radius: 50%;
	color: white;
	font-size: 20px;
	transition: transform 0.2s;
}

.move-top-btn:hover{
	cursor: pointer;
	transform: scale(1.08);
}